<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body bgcolor="orange">
<center><h1>welcome to success page</h1></center>
<font face="verdana" size="3">
    <a href="{%url 'home'%}">Home_page</a>&nbsp;&nbsp;
    <a href="{%url 'reg'%}">Registration_page</a>&nbsp;&nbsp;
    <a href="{%url 'login' %}">Login_page</a>&nbsp;&nbsp;
</font>

<h1>Registration is sucessfull!!!</h1>
<h3>Student Details</h3>
<h4>Studdent ID: {{Id}}</h4>
<h4>Studdent Name: {{Name}}</h4>
<h4>Studdent Marks: {{Marks}}</h4>
<h4>Studdent DOB: {{DOB}}</h4>
<h4>Studdent Gender: {{Gender}}</h4>
<h4>Studdent Qualification: {{Checkbox1}}  {{Checkbox2}} {{Checkbox3}}</h4>
<h4>Studdent City: {{City}}</h4>
<h4>Studdent Address: {{Address}}</h4>
</body>
</html>